.roadmap-item {
  width: 53rem;
  height: 47.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9.55rem auto 10.7rem;
  @media only screen and (max-width: $bp-tablet) {
    margin: 7.55rem auto 8.7rem;
    height: 40.7rem;
    @media only screen and (max-width: $bp-mobile) {
      margin: 4.55rem auto 5.7rem;
      width: 47rem;
    }
    @media only screen and (max-width: $bp-mobile-small) {
      margin: 4.55rem auto 5.7rem;
      height: 30.7rem;
      width: 46rem;
    }
  }
  &__text {
    width: 36rem;
    @media only screen and (max-width: $bp-mobile) {
      width: 27rem;
    }
    @media only screen and (max-width: $bp-mobile-small) {
      width: 30rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 26rem;
    }
  }

  &__circle {
    z-index: -10;
    top: 0;
    left: 0;
    @media only screen and (max-width: $bp-tablet) {
      width: 93%;
    }
    @media only screen and (max-width: $bp-mobile) {
      width: 87%;
      left: 3%;
    }
    @media only screen and (max-width: $bp-mobile-small) {
      width: 84%;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 40%;
    }
  }

  &__h3 {
    padding: 0.9rem 0 2.3rem;
  }
  &__pattern {
    top: -3%;
    right: -28%;
    @media only screen and (max-width: $bp-tablet) {
      top: -3%;
      right: -25%;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__first-girl {
    top: 0;
    right: -46%;
    @media only screen and (max-width: $bp-tablet) {
      right: -20%;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
    animation: move-from-left-huge 1s linear;
  }

  &__pattern-2 {
    top: 50%;
    right: -50%;
    @media only screen and (max-width: $bp-tablet) {
      right: -30%;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__girl-2 {
    top: 15%;
    right: -50%;
    @media only screen and (max-width: $bp-tablet) {
      right: -30%;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__couple {
    top: 5%;
    right: -59%;
    @media only screen and (max-width: $bp-tablet) {
      right: -40%;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }
}
