body {
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  color: $color-main-text;
  line-height: 140%;
}

.h1 {
  font-size: 6.5vw; //9.7rem;
  line-height: 90%;
  text-align: center;
  padding-bottom: 3.13vw;
  z-index: 100;
}

.menu-text {
  font-family: $font-second;
  width: fit-content;
  z-index: 20;
}

.paragraphs {
  color: $color-paragraphs;
  font-family: $font-second;
  font-weight: 400;
}

.h2 {
  font-size: 4.51vw;
  line-height: 90%;
}

.subtitle {
  font-size: 1.67vw;
  line-height: 92%;
}

.h3 {
  font-size: 2.5vw;
  line-height: 89%;
}

.questions {
  font-weight: 400;
  font-size: 1.67vw;
  line-height: 92%;
}
