.main {
  text-align: center;
  padding-top: 6.25vw;
  padding-bottom: 27.43vw;
  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 20.43vw;
  }
  @media only screen and (max-width: $bp-tablet) {
    padding-bottom: 18.43vw;
    @media only screen and (max-width: $bp-mobile) {
      padding-top: 65%;
    }
  }

  &__text {
    padding-bottom: 2.9rem;
    max-width: 29.79vw;
    margin: auto;
    @media only screen and (max-width: $bp-mobile) {
      max-width: 69.79vw;
    }
  }

  &__circle-left {
    left: 0;
    top: 15vw;
    z-index: -10;
    width: 35vw;
    @media only screen and (max-width: $bp-mobile) {
      width: 46vw;
    }
  }
  &__hero-left {
    left: 4vw;
    top: 10vw;
    width: 24vw;
    @media only screen and (max-width: $bp-mobile) {
      width: 30vw;
    }
  }
  &__pattern-left {
    left: 19vw;
    top: -1.5vw;
    width: 17vw;
  }
  &__circle-right {
    right: 4vw;
    top: 5vw;
    z-index: -10;
    width: 34vw;
    @media only screen and (max-width: $bp-mobile) {
      width: 48vw;
      right: 0;
    }
  }
  &__hero-right {
    right: 5vw;
    top: 11vw;
    width: 24vw;
    @media only screen and (max-width: $bp-mobile) {
      width: 30vw;
      right: 3vw;
    }
  }
  &__pattern-right {
    right: 23vw;
    top: 24vw;
    z-index: -9;
    width: 17vw;
    @media only screen and (max-width: $bp-mobile) {
      top: 35vw;
      right: 30vw;
    }
  }
}

.meet-section {
  padding: 0 1.5rem 22.7rem;
  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 17rem;
  }
  @media only screen and (max-width: $bp-tablet) {
    padding-bottom: 12rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    padding-bottom: 6rem;
  }

  &__flex-sb {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-tablet) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    max-width: 37.4rem;
    padding-top: 9.44vw;
    @media only screen and (max-width: $bp-tablet) {
      margin: auto;
    }
  }

  &__paragraphs {
    padding: 1.7rem 4.2rem 3.2rem 0;
  }

  &__image {
    padding-top: 6.6rem;
    @media only screen and (max-width: $bp-tablet) {
      margin: auto;
    }
  }

  &__line {
    margin-bottom: 2.8rem;
  }
}

.content-section {
  background-color: $color-brown;
  padding: 9.72vw 1.5rem 4.65vw;

  &__text {
    z-index: 100;
    position: relative;
  }
}

.roadmap {
  padding-top: 18.06vw;
  padding-bottom: 7.85vw;
}

.team-section {
  background-color: $color-pink;
  padding-top: 9.65vw;
  padding-bottom: 8.33vw;

  &__text {
  }
  &__member {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__position {
    padding: 2.48rem 0 0.6rem;
  }

  &__space {
    padding: 3.33vw 0 4.72vw;
  }
}
