.main {
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 39.5rem;

  &__text {
    padding-bottom: 2.9rem;
    max-width: 42.9rem;
    margin: auto;
  }

  &__circle-left {
    left: 0;
    top: 29%;
    z-index: -10;
  }
  &__hero-left {
    left: 4%;
    top: 18%;
  }
  &__pattern-left {
    left: 20%;
    top: -2rem;
  }
  &__circle-right {
    right: 7%;
    top: 6%;
    z-index: -10;
  }
  &__hero-right {
    right: 5%;
    top: 17%;
  }
  &__pattern-right {
    right: 23%;
    top: 46%;
    z-index: -9;
  }
}

.meet-section {
  padding-bottom: 9rem;
  &__text {
    max-width: 37.4rem;
    padding-top: 13.6rem;
  }

  &__paragraphs {
    padding: 1.7rem 4.2rem 3.2rem 0;
  }

  &__image {
    padding-top: 6.6rem;
  }

  &__line {
    margin-bottom: 2.8rem;
  }
}

.content-section {
  background-color: $color-brown;
  padding-top: 14rem;

  &__text {
    z-index: 100;
    position: relative;
  }
}
