$color-main-text: #222222;
$color-paragraphs: #404756;
$color-lavender: #d3d4ed;
$color-brown: #fbf1e6;
$color-pink: #fddbe2;
$color-white: #fff;
$color-dark-pink: #f7859c;
$color-hover-pink: #ff6685;

$font-main: Montserrat, sans-serif;
$font-second: "Open Sans", sans-serif;
