$color-main-text: #222222;
$color-paragraphs: #404756;
$color-lavender: #d3d4ed;
$color-brown: #fbf1e6;
$color-pink: #fddbe2;
$color-white: #fff;
$color-dark-pink: #f7859c;
$color-hover-pink: #ff6685;

$font-main: Montserrat, sans-serif;
$font-second: "Open Sans", sans-serif;

//Adaptive
$bp-largest: 100em; //1600
$bp-large: 83.75em; //
$bp-menu: 43em; //688
$bp-medium: 64em; // 1024px
$bp-tablet: 48em; // 768px
$bp-team: 55em; // 883px
$bp-footer-menu: 35em; // 555px
$bp-mobile: 26.6em; // 425px
$bp-mobile-small: 23.4em; // 375px
$bp-smallest: 20; // 320px */

/*  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 17rem;
  }
  @media only screen and (max-width: $bp-tablet) {
    padding-bottom: 15rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    padding-bottom: 12rem;
  }
  @media only screen and (max-width: $bp-mobile-small) {
    padding-bottom: 12rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    padding-bottom: 12rem;
  } */
