.header {
  padding: 3.2rem 6.5rem;

  &__nav {
  }
  &__menu {
  }
  &__menu-item {
    display: inline-block;
    padding-right: 3rem;
  }
  &__link {
    text-decoration: none;
    color: $color-main-text;
  }
}

.btn {
  text-decoration: none;
  color: $color-white;
  display: inline-block;
  background-color: $color-dark-pink;
  border-radius: 1.2rem;
  padding: 0.8rem 2.7rem;
}
